.container1 {
  padding: 10px;
  background-color: yellow;
  height: 30px;
  text-align: center;
  margin: 5px 10px;
}

body {
  margin: 0;
}

.container2 {
  display: flex;
}

.column1 {
  display: flex;
  height: 500px;
  background-color: lightslategrey;
  margin: 10px 10px;
  padding: 20px;
}

.column2 {
  background-color: coral;
  width: 100%;
  margin: 10px 10px;
  padding: 20px;
}

.footer {
  padding: 15px;
  background-color: cornflowerblue;
  height: 50px;
  text-align: center;
  margin: 5px 10px;
}
